# Build output
/build/

# Packaging & Nexus docs (not required to build or run)
/docs/
/release/

# MSVC / CMake intermediates
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
*.exp
*.lib
*.pdb
*.iobj
*.ipdb
*.user
*.vcxproj.user
